*{
	font-family: sans-serif;
}
body{
	position: absolute;
	top: 10%;
	left: 30%;
 	background-image: url('1.jpg');
 	background-size: cover;
 }
 form{
 	background-image: url('1.jpg');
 	color: #fff;
 }
 h1{
 	text-align: center;
 }
h5{
	color: #fff;
	text-align: center;
}

